<body>
    <h1>Se connecter</h1>
    <br>
    <div class="container">
        <form>
            <div class="form-group col-md-3">
                <label for="Email">Adresse email</label>
                <input type="email" class="form-control" id="Email" placeholder="Enter email">
            </div>
            <br>
            <div class="form-group col-md-3">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>
</body>
