<body>
    <main>
        <div class="container py-4">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> TranslateHub
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" [routerLink]="['/inscription']">inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" [routerLink]="['/connexion']">connexion</a>
                            </li>
                            <li class=" nav-item ">
                                <a class="nav-link active " href="# ">About us</a>
                            </li>
                        </ul>
                        <div>
                            <a class="nav-link active " href="# " style="color: white; ">Contact</a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="p-5 mb-4 bg-light rounded-3 ">
                <div class="container-fluid py-5 ">
                    <h1 class="display-5 fw-bold ">TranslateHub </h1>
                    <p class="col-md-8 fs-4 ">TranslateHub is a web application that allows user to deposit their documents for translation by our finest tanslators in the worlds.</p>
                </div>
            </div>

            <div class="row align-items-md-stretch ">

                <div class="col-md-6 ">
                    <div class="h-100 p-5 text-white bg-dark rounded-3 ">
                        <h2>Client</h2>
                        <p>after registration, our clients can upload their documents for translations</p>

                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="h-100 p-5 bg-light border rounded-3 ">
                        <h2>Translators</h2>
                        <p>after registration, our Translators will take care of your documents</p>

                    </div>
                </div>

            </div>

            <br>
            <footer class="pt-3 mt-4 text-muted border-top "> &copy; TranslateHub
            </footer>
        </div>
    </main>

</body>