<h1>S'inscrire</h1>

<body>
    <div class="container">
        <form>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputPrenom">Prenom</label>
                    <input type="text" class="form-control" id="inputPrenom" placeholder="Prenom">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputNom">nom</label>
                    <input type="text" class="form-control" id="inputNom" placeholder="Nom">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputDate">Date de naissance</label>
                    <input type="date" class="form-control" id="inputDate">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputCin">CIN</label>
                    <input type="text" class="form-control" id="inputCin" placeholder="Cin">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>

            </div>
            <div class="col-auto my-3">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>s'inscrire comme ...</option>
            <option value="1">Client</option>
            <option value="2">Traducteur</option>
            <option value="3">Admin</option>
          </select>
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
    </div>
</body>